/*--- Custom style variables  */
:root {
	--primary-color: #809df6;
	--secondary-color: #ffffff;
}

/*--- Utilities styles */
.flex-center-element {
	display: flex;
	justify-content: center;
	align-items: center;
}

/*--- Theme styles */
.dark-mode {
	--primary-color: #335acf;
}

input[type="checkbox"] {
	height: 0;
	width: 0;
	visibility: hidden;
}

/*--- Layout styles */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Roboto Mono", sans-serif;
	font-size: 30px;
	font-weight: 100;
}

body {
	flex-direction: column;
	width: 100vw;
	height: 100%;
	background-color: var(--primary-color);
}

/* Navbar Styles */
.nav {
	width: 100vw;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: end;
	padding: 0 20px;
	background-color: var(--primary-color);
}

.nav-item {
	letter-spacing: 0.2px;
	font-size: 0.5rem;
	color: var(--secondary-color);
	cursor: pointer;
}

.nav-item:hover {
	border-bottom: 1px solid var(--secondary-color);
}

.btn-zero {
	border: none;
	background-color: var(--primary-color);
	margin-right: 20px;

	@media (min-width: 768px) {
		margin-right: 40px;
	}
}
/* END Navbar styles */

.container {
	width: 100%;
	height: 100%;
	flex-direction: column;

	/* Media query dal tablet in poi */
	@media (min-width: 768px) {
		width: 80vw;
		height: 80vh;
	}
}

.numbers {
	height: 50vh;
	color: var(--secondary-color);
	font-size: 6rem;

	/* Media query dal tablet in poi */
	@media (min-width: 768px) {
		font-size: 12rem;
	}

	/* Media query da desktop in poi */
	@media (min-width: 992px) {
		font-size: 15rem;
		margin-bottom: 50px;
	}
}

.operators {
	width: 80px;
	height: 80px;
	margin: 0 10px;
	border: none;
	background-color: var(--secondary-color);
	color: var(--primary-color);
	font-size: 2rem;
	box-shadow: 0 5px 20px rgba(255, 255, 255, 0.3);
	cursor: pointer;

	/* Media query dal tablet in poi */
	@media (min-width: 768px) {
		width: 100px;
		height: 100px;
	}
}

.operators:hover {
	font-weight: 300;
	box-shadow: 0 5px 20px rgba(255, 255, 255, 0.6);
}

.operators:active {
	transform: scale(0.8);
}
